<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/rageriffic.css">
        <script type="text/javascript" src ="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src ="../../assets/javascripts/dynamic_content.js"></script>
    </head>
    
    <body>
        <div id = "contentcontainer">
            <div id="title"><img src = "../../assets/images/welcome.png" alt = "header"></div>

            <div id="camerainterface">
                <div class="imagediv">
                    <h1>waiting for others to join</h1>
                    <h1>be vain for a little bit</h1>
                    <div class = "usersize" id = "webcamcontainer">
                        <object id="webcam-object" width="320" height="240" data="../../../public/jscam_canvas_only.swf" type="application/x-shockwave-flash">
                            <param value="../../../public/jscam_canvas_only.swf" name="movie">
                            <param value="mode=callback&quality=85" name="FlashVars">
                         </object>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>