<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="../app/asset/stylesheets/rageriffic.css">
    </head>
    
    <body>
        <div id = "contentcontainer">
            <div id="title"><img src = "../public/img/welcome.png" alt = "header"></div>
            
            <div class="imagediv">
                <h1 class="imagetitle">selected rage face</h1>
                <div id = "ragefacecontainer"><img id="rageface" src="" alt="rage face image"/></div>
            </div>

            <form id="nameform" action="" method="POST">
                <input id="inputuser" type="text" placeholder="Insert Username" Username="name" /><br />
                <input id = "joinButton" class = "button" type="submit" value="join" />
            </form>

            <div id="userbar">
                <ul>
                </ul>
            </div>
        </div>
    </body>
</html>