<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rageriffic.css">
    </head>
    
    <body>
        <div id="title">Rageriffic</div>

        <div class="imagediv">
            <div class="imagetitle">Selected Rage Face</div>
            <img id="rageface" src="" alt="rage face image"/>
        </div>
        <div id="camerainterface">
            <div id="videocanvas">CAMERA CANVAS</div>
            <div id="status">3... 2... 1...</div>
        </div>
    </body>
</html>