<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="../../../app/assets/stylesheets/rageriffic.css">
        <script src="../../../app/assets/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="../../../app/assets/javascripts/jquery.webcam.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div id = "contentcontainer">
            <div id="title"><img src = "../public/img/ragerifficlogo.png" alt = "Rageriffic" /></div>

            <div id="camerainterface">
                <object id="webcam-object" width="320" height="240" data="../../../public/jscam_canvas_only.swf" type="application/x-shockwave-flash">
                    <param value="../../../public/jscam_canvas_only.swf" name="movie">
                    <param value="mode=callback&quality=85" name="FlashVars">
                </object>
                <!-- COUNTDOWN until picture taken -->
                <button onclick="webcam.onCapture(3);" class="button" id="takepicture"></button>
            </div>
            <div class="imagediv">
                <!-- When picture taken, update this field and "picturestatus" field -->
                <h1 class="imagetitle">selected rage face</h1>
                    <div id = "ragefacecontainer"><img id="rageface" src="" alt="rage face image"/></div>
            </div>


            <!-- Update this when picture is taken -->
            <h1 id="picturestatus"></h1>
        </div>
    </body>
</html>