<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="../app/asset/stylesheets/rageriffic.css">
    </head>
    
    <body>
        <div id = "contentcontainer">
            <div id="title"><img src = "../public/img/ragerifficlogo.png" alt = "Rageriffic" /></div>

            <div id="camerainterface">
                <div class = "usersize" id = "webcamcontainer"><img id="yourface" src="" alt="Web cam"/></div>
                <!-- COUNTDOWN until picture taken -->
                <button class = "button" id="takepicture"></button>
            </div>
            <div class="imagediv">
                <!-- When picture taken, update this field and "picturestatus" field -->
                <h1 class="imagetitle">selected rage face</h1>
                    <div id = "ragefacecontainer"><img id="rageface" src="" alt="rage face image"/></div>
            </div>


            <!-- Update this when picture is taken -->
            <h1 id="picturestatus"></h1>
        </div>
    </body>
</html>