<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
    </head>
    
    <body>
        <div id="title"><h1>Welcome to Rageriffic</h1></div>
        <div class="imagediv">
            <div class="imagetitle">Selected Rage Face</div>
            <img id="rageface" src="" alt="rage face image"/>
        </div>
        <form id="nameform" action="" method="POST">
            <input type="text" placeholder="Insert Username" Username="name" />
            <input type="submit" value="JOIN" />
        </form>
    </body>
</html>