<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
    </head>
    
    <body>
        <div id="title"><h1>Cast Your Vote!</h1></div>

        <div class="imagediv">
            <div class="imagetitle">Original Image</div>
            <img id="rageface" src="" alt="rage face image"/>
        </div>

        <form id="voteform" action="" method="post">
            <div class="imagediv">
                <img class="voteface" src="" alt="rage face image"/>
            </div>

            <div class="imagediv">
                <img class="voteface" src="" alt="rage face image"/>
            </div>

            <div class="imagediv">
                <img class="voteface" src="" alt="rage face image"/>
            </div>

            <div class="imagediv">
                <img class="voteface" src="" alt="rage face image"/>
            </div>

            <div class="imagediv">
                <img class="voteface" src="" alt="rage face image"/>
            </div>

            <div class="imagediv">
                <img class="voteface" src="" alt="rage face image"/>
            </div>

            <div class="imagediv">
                <img class="voteface" src="" alt="rage face image"/>
            </div>
        </form>
        <div id="status">Waiting for everyone's votes...</div>
    </body>
</html>