<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
    </head>
    
    <body>
        <div class="imagediv">
            <div class="imagetitle">Selected Rage Face</div>
            <img id="rageface" src="" alt="rage face image"/>
        </div>
        
        <div class="imagediv">
            <div class="imagetitle">Your Picture</div>
            <img id="yourface" src="" alt="rage face image"/>
        </div>
        <div id="status">Waiting for others' submissions</div>
    </body>
</html>