<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
         <%= stylesheet_link_tag "rageriffic.css" %>
    </head>
    
    <body>
        <div id = "contentcontainer">
            <div id="title"><img src = "welcome.png" alt = "header"></div>

            <div id="camerainterface">
                <div class="imagediv">
                    <h1 class="h1words">waiting for others to join</h1>
                    <h1 class="h1words">be vain for a little bit</h1>
                    <div class = "usersize" id = "webcamcontainer">
                        <object id="webcam-object" width="320" height="240" data="../../../public/jscam_canvas_only.swf" type="application/x-shockwave-flash">
                            <param value="../../../public/jscam_canvas_only.swf" name="movie">
                            <param value="mode=callback&quality=85" name="FlashVars">
                        </object>
                    </div>
                </div>

                <button id="startbutton" class = "button"></button>
            </div>

            <div id="userscount"
        </div>
    </body>
</html>
