<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
         <%= stylesheet_link_tag "rageriffic.css" %>
    </head>
    
    
    <body>
        <div id = "contentcontainer">
            <div id="welcome" class = "title"><%= image_tag "welcome.png" %></div>
            
            <div class="imagediv">
                <h1 class="imagetitle">selected rage face</h1>
                <div id = "ragefacecontainer" class = "joinrageface" ><img id="rageface" src="http://i162.photobucket.com/albums/t264/JohnnySnacks/Comedy/awesome_face.jpg" alt="rage face image" /></div>
            </div>

            <form id="nameform" action="" method="POST">
                <input id="inputuser" type="text" placeholder="Insert Username" Username="name" /><br />
                <input id = "joinbutton" class = "button" type="submit" value="join" />
            </form>

        </div>
    </body>
</html>
