<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <%= stylesheet_link_tag "rageriffic.css" %>
    </head>
    
    <body>
        <div id="title"><h1>Welcome to Rageriffic</h1></div>
        
        <form id="nameform" action="rounds/play" method="get">
            <input id="inputuser" placeholder="Insert Username" type="text" name="name" /><br />
            <input type="hidden" value="true" name ="owner" />
            <input type="submit" value="New Game" />
        </form>
    </body>
</html>
