<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="css/rageriffic.css">
    </head>
    
    <body>
        <div id="title">Rageriffic</div>

        <div id="maincontent">
            <div class="imagediv">
                <div class="imagetitle">Selected Rage Face</div>
                <img id="rageface" src="" alt="rage face image"/>
            </div>
            <button id="start">START</button>
        </div>

        <div id="userbar">
            <ul>
                <lh>Participants</lh>
            </ul>
        </div>
    </body>
</html>
