<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rageriffic.css">
    </head>
    
    <body>
        <div id="title"><h1>Welcome to Rageriffic</h1></div>
        
        <form id="nameform" action="" method="POST">
            <input placeholder="Insert Username" type="text" name="name" /><br />
            <input type="submit" value="New Game" />
        </form>
    </body>
</html>
