<div id="title"><h1>Welcome to Rageriffic</h1></div>
<form id="nameform" action="" method="POST">
  <input placeholder="Insert Username" type="text" name="name" />
  <input type="submit" value="New Game" />
</form>
