<!DOCTYPE html>
<html>
    <head>
        <title>Rageriffic</title>
        <link rel="stylesheet" type="text/css" href="css/rageriffic.css">
    </head>
    
    <body>
        <div id="title">Rageriffic</div>

        <h1>Cast Your Vote!</h1>
        <div class="imagediv">
            <div class="imagetitle">Original Image</div>
            <img id="rageface" src="" alt="rage face image"/>
        </div>

        <form id="voteform" action="" method="post">
            <div id="rowone">
                <div class="imagediv">
                    <img class="voteface" src="" alt="rage face image"/><br />
                    <input type="radio" name="vote" />
                </div>

                <div class="imagediv">
                    <img class="voteface" src="" alt="rage face image"/><br />
                    <input type="radio" name="vote" />
                </div>

                <div class="imagediv">
                    <img class="voteface" src="" alt="rage face image"/><br />
                    <input type="radio" name="vote" />
                </div>
            </div>

            <div id="rowtwo">
                <div class="imagediv">
                    <img class="voteface" src="" alt="rage face image"/><br />
                    <input type="radio" name="vote" />
                </div>

                <div class="imagediv">
                    <img class="voteface" src="" alt="rage face image"/><br />
                    <input type="radio" name="vote" />
                </div>

                <div class="imagediv">
                    <img class="voteface" src="" alt="rage face image"/><br />
                    <input type="radio" name="vote" />
                </div>
            </div>
        </form>
        <br />
        <div id="status">Waiting for everyone's votes...</div>
    </body>
</html>
